/* Sub Banner */
.sub-banner {
  /* background: url("../assets/bg-img-6.jpg") no-repeat center center; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sub-banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.about-car-photo {
  position: relative;
}

.carousel-indicators {
  justify-content: center;
}

.small-car-image {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.best-used-car p {
  font-size: 1rem;
  color: #555;
}

.AboutImg {
  border-radius: 10px;
  max-height: 500px;
  width: 700px;
  object-fit: cover;
}

.carousel-indicators li img {
  cursor: pointer;
}

.shadow-sm {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
