.footer {
  background-color: rgb(12, 38, 114);
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:hover {
  color: #ddd; /* Optional hover effect */
}

/* Button hover effects */
.btn-secondary:hover {
  background-color: #555; /* Change button color on hover */
}
