.card-car {
  max-width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  color: #fff;
  border-radius: 8px;
  overflow: "hidden";
  transition: transform 0.3s ease-in-out, z-index 0s ease 0.3s;
  z-index: 1; /* Default stacking context */
}

.card-car:hover {
  transform: scale(1.07); /* Slight zoom on hover */
  z-index: 10; /* Bring the card to the front */
  transition: transform 0.3s ease-in-out, z-index 0s ease 0s; /* z-index takes effect immediately */
}

.card-title {
  font-weight: bold;
}

.card-footer {
  background-color: #2b2b2b;
}

.text-danger {
  color: #e74c3c !important;
}

.text-warning {
  color: #f39c12 !important; /* Gold color for titles */
}

.text-info {
  color: #3498db !important; /* Light blue color */
}

.text-success {
  color: #2ecc71 !important; /* Bright green for price */
}
