.card-car {
  max-width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  color: #fff;
  border-radius: 8px;
  overflow: "hidden";
  transition: transform 0.3s ease-in-out, z-index 0s ease 0.3s;
  z-index: 1; /* Default stacking context */
}

.card-car:hover {
  transform: scale(1.07); /* Slight zoom on hover */
  z-index: 10; /* Bring the card to the front */
  transition: transform 0.3s ease-in-out, z-index 0s ease 0s; /* z-index takes effect immediately */
}

.card-title {
  font-weight: bold;
}

.card-footer {
  background-color: #2b2b2b;
}

.text-danger {
  color: #e74c3c !important;
}

.text-warning {
  color: #f39c12 !important; /* Gold color for titles */
}

.text-info {
  color: #3498db !important; /* Light blue color */
}

.text-success {
  color: #2ecc71 !important; /* Bright green for price */
}

/* Ribbon Style */
.ribbon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 75px;
  height: 75px;
  z-index: 10;
}

.ribbon {
  position: absolute;
  top: 10px;
  left: -25px;
  width: 110px;
  background-color: #dc3545;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 20px;
  transform: rotate(-45deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Optional: Adding a triangle effect for the ribbon ends */
.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #dc3545 transparent transparent transparent;
}

.ribbon::before {
  top: 100%;
  left: 0;
  border-width: 0 10px 10px 0;
}

.ribbon::after {
  top: 100%;
  right: 0;
  border-width: 0 0 10px 10px;
}
